.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {

  margin: 5dvh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100dvw;
  /* min-width: 300px; */
  height: 100dvh;
  /* background-color: hsl(217, 54%, 11%); */
  color: hsl(0, 0%, 100%);
  font-family: Outfit;

}

main {
  background-color: hsl(216, 50%, 16%);
  width: 20%;
  height: auto;
  border-radius: .75rem;
  box-shadow: 0px 0px 4dvw 1dvw rgba(0, 0, 0, 0.282);
}

.equilibrium {
  margin: 5%;
  width: 90%;
  height: auto;
  border-radius: .75rem;
}

h1 {
  font-size: 1.3dvw;
  margin: 0% auto;
  width: 90%;
}

p {
  margin: 5% auto;
  width: 90%;
  color: hsl(215, 51%, 70%);
  font-weight: lighter;
  font-size: 1.1dvw;
}


.parrafo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1dvw;
  margin: 5%;
}


.logo-equilibrium {
  display: flex;
  align-items: center;
  color: hsl(178, 100%, 50%);
  font-weight: bold;
  width: 20dvw;
}

.tamano-logoEquil {
  width: 1dvw;
  height: 2dvh;
  padding-right: 0.3dvw
}

.logo-reloj {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
  font-weight: lighter;
  width: 20dvw;
}

.tamano-logoReloj {
  width: 1dvw;
  height: 1.5dvh;
  padding-right: 0.3dvw
}

hr {
  width: 90%;
  border: 1px solid hsl(215, 32%, 27%);

}

.author {
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1dvw;
  margin: 0 auto;
  padding-bottom: 5%;
  width: 90%;
}

.avatar {
  width: 10%;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 3%;
}



/* ------------------------ 960 px --------------------- */
@media(max-width: 960px) {
  main {
    margin-top: 15%;
    width: 30%;
  }

  h1 {
    font-size: 3dvw;
  }

  h5 {
    font-size: 2.1dvw;
  }

  .parrafo {
    width: 100%;
    font-size: 1.9dvw;
  }

  .logo-equilibrium {
    width: 30dvw;
    font-size: 1.5dvw;
  }

  .tamano-logoEquil {
    padding-right: 1dvw
  }

  .logo-reloj {
    width: 30dvw;
    font-size: 1.5dvw;
  }

  .tamano-logoReloj {
    padding-right: 1dvw
  }

  .author {
    font-size: 2dvw;
  }

  .attribution {
    font-size: 2dvw;
  }
}


/* ------------------------ 375 px --------------------- */
@media(max-width: 375px) {
  main {
    margin: 0dvh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90dvw;
    height: auto;
  }

  h1 {
    font-size: 6dvw;
  }

  p {
    font-size: 5dvw;
  }

  .parrafo {
    font-size: 5dvw;
    width:90%
  }

  .logo-equilibrium {
    width: 30dvw;
    font-size: 4dvw;
  }

  .tamano-logoEquil {
    padding-right: 1.2dvw;
    width: 3dvw;
    height: auto;
  }

  .logo-reloj {
    width: 30dvw;
    font-size: 5dvw;
  }

  .tamano-logoReloj {
    padding-right: 1.2dvw;
    width: 4dvw;
    height: auto;
  }

  .author {
    font-size: 4.5dvw;
  }

  .attribution {
    font-size: 3dvw;
  }
}